<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <title>Tentang-osis</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Eczar&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Brands&display=swap" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <style>
            @import url('../static/default.css');
            @import url('../static/gnb4.css');
            @import url('../static/banner.css');
            @import url('../static/ain.css');
            @import url('../static/activity.css');
            @import url('../static/profile--.css');
            @import url('../static/aboute.css');
            @import url('../static/fotter4.css');
        </style>
    </head>
<body>
    <div class="gnb3">
        <div class="top">
            <div class="left home-left">
                <li><a href="/beranda">Beranda</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/galery">Galery</a></li>
                            <li><a href="/smk">SMK</a></li>
                            <li class="tentang-osis"><a href="#">OSIS</a></li>

            </div>
            <div class="right home-right">
                <li><i><img src="../static/images/Logo osis.png" alt=""></i></li>
            </div>
            <div class="right2 home-right">
                <li><i><img src="../static/images/Logo smk.png" alt=""><i></li>
            </div>
            <div class="right3 home-right">
                <li><i><img src="../static/images/Logo smk2.png" alt=""></i></li>
            </div>


        </div>
        <div class="alamat"></div><span class="alamat1">OSIS merupakan sebuah wadah yang memfasilitasi para siswa untuk bekerja 
            sesuai tugasnya masing-masing demi kepentingan sekolah dan seluruh siswa di area smkn 1 jarai.</span><span class="judul">OSIS SMK NEGERI 1 JARAI</span>
        </div>
        <div class="bottom home-right">
            <img src="../static/images/Gambar ketua&wakil.png" alt="">
        </div>

        <div class="pengertian-osis">
            <h1 class="fungsi-judul01">Fungsi OSIS</h1>
            <h2 class="fungsi-desk02">OSIS berfungsi sebagai pendorong berkembangan nya kemampuan dan kreativitas siswa. osis juga sebagai pencegah, pencegah nya pengaruh negatif pada siswa dilingkungan sekolah.</h2>
            <h1 class="tujuan-judul03">Tujuan OSIS</h1>
            <h2 class="tujuan-desk04">OSIS bertujuan memfasilitas para siswa untuk menyalurkan aspirasinya, mengekspresikan kreativitasnya dan kontribusi untuk hal hal yang positif, kreatif dan inovatif.</h2>
            <h1 class="tugas-judul05">Tugas OSIS</h1>
            <h2 class="tugas-desk06">OSIS bertugas untuk mengendalikan aktivitas siswanya sehingga lebih terarah dan lebih positif dalam mencapai tujuan yang diinginkan.</h2>
            <h1 class="Kontak-osis07">Kontak OSIS</h1>
            <h2 class="Kontak-osis08"><p>Ketua : +62 852-7942-4042 -Nurhadi</p><br>
                                        <p>Wakil : +62 822-8235-2553 -Ihsan</p><br>
                                        <p>Admin: +62 812-7986-5248 -Raihan</p></h2>
        </div>
        <div class="gambar-anggota-02">
            <img src="../static/images/poto-galery2.png" alt="">
        </div>
        <div class="fotter2">
            <div class="judul-fotter">OSIS SMKN 1 JARAI</div>
                <div class="item-fotter">
                    <div class="fotter-beranda"><a href="/beranda">Beranda</a></div>
                        <div class="fotter-profile"><a href="/profile">Profile</a></li></div>
                        <div class="fotter-galery"><a href="/galery">Galery</a></li></div>
                        <div class="fotter-smk"><a href="/smk">SMK</a></li></div>
                        <div class="fotter-osis"><a href="#">OSIS</a></li></div>
                        <div class="fotter-kontak"><a href="#">Kontak OSIS</a></li></div>
            </div>
            <hr>
            <div class="fotter-service">Terms of Service</div>
            <div class="fotter-privacy">Privacy Policy</div>
            <div class="icont-fb"><i class="bi bi-facebook"></i></div>
            <div class="icont-ig"><i class="bi bi-instagram"></i></div>
            <div class="icont-yt"><i class="bi bi-youtube"></i></div>
            <div class="fotter-copyright">© Copyright Organisasi
                Intra Sekolah Smkn 1 Jarai 2024.by LearningX-TKJ-R. All Rights Reserved.</div>
        </div>
</body>
</html>