<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <title>Tentang-sekolah</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Eczar&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Font+Awesome+5+Brands&display=swap" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <style>
            @import url('../static/default.css');
            @import url('../static/gnb3.css');
            @import url('../static/banner.css');
            @import url('../static/ain.css');
            @import url('../static/activity.css');
            @import url('../static/profile--.css');
            @import url('../static/aboute.css');
            @import url('../static/fotter3.css');
        </style>
    </head>

    <body>
        <div class="gnb3">
            <div class="top">
                <div class="left home-left">
                    <li><a href="/beranda">Beranda</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/galery">Galery</a></li>
                            <li class="tentang-smk"><a href="#">SMK</a></li>
                            <li><a href="/osis">OSIS</a></li>

                </div>
                <div class="right home-right">
                    <li><i><img src="../static/images/Logo osis.png" alt=""></i></li>
                </div>
                <div class="right2 home-right">
                    <li><i><img src="../static/images/Logo smk.png" alt=""><i></li>
                </div>
                <div class="right3 home-right">
                    <li><i><img src="../static/images/Logo smk2.png" alt=""></i></li>
                </div>


            </div>
            <div class="alamat"></div><span class="alamat1">Smk negeri 1 jarai di bangun pada tahun 2010 untuk merancang pendidikan di smk negeri 1 jarai ini secara teritegrasi antara kemampuan akademis, olah tubuh, enterpreneur, akhlakul kharimah yang di jalan secara bertahap.
                Web.www.smkn1jarai.sch.id/</span><span class="judul">SMK NEGERI 1 JARAI</span>
            </div><span
                class="deskripsi2"><li>Drs. SYAHRANI</li>
                (Kepala SMK Negeri 1 Jarai)</span>
        </div>

        <div class="bottom home-right">
            <img src="../static/images/kepalasekolah.png" alt="">
        </div> 
        <div class="visi-misi-sekolah">
            <table>
                <div class="smk-visi-misi">Visi dan Misi Smk Negeri 1 Jarai</div>
                <tr>
                    <div class="visi01">VISI:</div>
                    <div class="misi01">MISI:</div>
                    <td class="visi001">
                        “Menjadi Lembaga Pendidikan Vokasional yang menanamkan nilai Pancasila dan mempersiapkan peserta didiknya memiliki kompetensi berstandar industry,sehingga lulusannya berbudaya kerja,berwawasan lingkungan,berkarakter kebekerjaan ,mampu berwira usaha dan berdaya saing Global”.</td>
                </tr>
            </table>
                <ul class="misi-ketua">
                    <li class="li01">Menanamkan ajaran Agama dan Budaya Profil Belajar Pancasila.</li>
                    <li class="li02">Meningkatkan Kualitas Pembelajaran dan Bimbingan Sekolah.</li>
                    <li class="li03">Memperluas Kerjasama DUDIKA.</li>
                    <ul>
                    <li class="li04">Mengembangkan TEFA dan Kewirausahaan Kelas.</li>
                    <li class="li05">Meningkatkan Keterserapan Lulusan Ke DUDIKA 5%-10% Pertahun.</li></ul>
                </ul>
        </div>
        <div class="fotter2">
            <div class="judul-fotter">OSIS SMKN 1 JARAI</div>
                <div class="item-fotter">
                    <div class="fotter-beranda"><a href="/beranda">Beranda</a></div>
                        <div class="fotter-profile"><a href="/profile">Profile</a></li></div>
                        <div class="fotter-galery"><a href="/galery">Galery</a></li></div>
                        <div class="fotter-smk"><a href="#">SMK</a></li></div>
                        <div class="fotter-osis"><a href="/osis">OSIS</a></li></div>
                        <div class="fotter-kontak"><a href="/osis">Kontak OSIS</a></li></div>
            </div>
            <hr>
            <div class="fotter-service">Terms of Service</div>
            <div class="fotter-privacy">Privacy Policy</div>
            <div class="icont-fb"><i class="bi bi-facebook"></i></div>
            <div class="icont-ig"><i class="bi bi-instagram"></i></div>
            <div class="icont-yt"><i class="bi bi-youtube"></i></div>
            <div class="fotter-copyright">© Copyright Organisasi
                Intra Sekolah Smkn 1 Jarai 2024.by LearningX-TKJ-R. All Rights Reserved.</div>
        </div>
    </body>

</html>
